@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    padding-bottom: 40px;
}

.top-bar{
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 37px;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/* pra deixar a barra do topo fixa mas não precisar ficar somando o tamanho dela na margem dos outros elementos */
.top-bar-aux{
    margin-bottom: 37px;
    height: 69px;
    width: 100%;
}

.home{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.create-quizz{
    width: 340px;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 33px 45px 33px 45px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.create-quizz p{
    font-size: 20px;
    color: #B9B9B9;
    text-align: center;
    margin-bottom: 27px;
}

.create-quizz button{
    width: 136px;
    height: 40px;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: transparent;
    font-size: 21px;
}

.forms-container{
    margin: 29px auto;
    padding: 0 18px 27px 16px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.forms-container strong{
    margin-bottom: 12px;
    margin: 28px 0 14px 0;
}

input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 14px;
    padding: 13px;
}

input:invalid{
    color: red;
}

input:last-of-type{
    margin-bottom: 0;
}

input::placeholder{
    font-style: italic;
    font-size: 19px;
    color: #BABABA;
}

.create-screens {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.create-screens strong{
    font-size: 20px;
}

.create-quizz-buttons{
    width: 323px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    color: #FFF5F4;
}

.screen-31 input{
    margin-bottom: 9px;
}

.screen-31 .forms-container{
    padding-top: 21px;
    padding-bottom: 24px;
}

.screen-32 div:first-of-type, .screen-33 div:first-of-type{
    width: 100%;
}

.screen-33 .forms-container input:last-of-type{
    height: 177px;
}

.screen-33 .forms-container{
    padding-bottom: 20px;
}

.screen-34 img{
    width:340px; 
    height:181px;
    margin: 29px auto 24px auto;
    border-radius: 5px;
}

.screen-34 button{
    width: 220px;
    height: 44px;
}

.screen-34 button:last-of-type{
    margin-top: 9px;
    background-color: transparent;
    border: none;
    color: #818181;
    font-size: 18px;
}

/*Display Quizzes*/
.quizzes-title {
    width: 340px;
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
    margin-bottom: 14px;

    font-size: 20px;
    font-weight: bold;
    color: black;
}

.quizzes-box {
    display: flex;
    flex-direction: column;
}

.quizz {
    width: 340px;
    height: 181px;
    margin-bottom: 14px;
    position: relative;
    display: flex;
    cursor: pointer;
}

.quizz img {
    width: inherit;
    object-fit: cover;
    border-radius: 5px;
}

.quizz .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) 64.58%);
}

.quizz p {
    font-size: 19px;
    line-height: 22px;
    color: #FFF;
    position: absolute;
    left: 18px;
    bottom: 14px;
    margin-right: 21px;
}
/*Display Quizzes*/

/*Selected Quizz*/
.quizz-title {
    width: 100%;
    height: 142px;
    font-size: 19px;
    line-height: 22px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quizz-title img {
    width: inherit;
    object-fit: cover;
}

.quizz-title .gradient {
    background: rgba(0, 0, 0, 0.6);
}

/*Selected Quizz*/


/* fiz o mobile e dps adicionei as alterações para desktop */

@media (min-width: 1100px) {

    .create-quizz{
        width: 80%;
    }

    .quizzes-title {
        width: 80%;
        margin-top: 77px;
        margin-bottom: 12px;
    }

    .quizzes-box {
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .create-screens{
        width: 42vw;
    }

}

.hidden{
    display: none;
}